@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/


header .wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  padding: 1% 3% 1%;
}
nav li{
  margin-left: 25px;
}
nav ul li:nth-child(6) a{
  text-transform: uppercase;
}
nav li a{
  padding: 10%;
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;
  text-transform: capitalize;
  transition: .5s;
}

nav li a:hover{
  background-color: #000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.9);
}
header .wrapper>ul p{
  margin-right: 12px;
  color: #fff;
  font-size: 14px;
}
header .wrapper>ul li a{
  border-radius: 5px;
  border: 1px solid #33d4d6;
  background-color: transparent;
  padding: 6% 10px 6%;
  text-transform: capitalize;
  color: #33d4d6;
  transition: .5s;
}

header .wrapper>ul li a:hover{
  background-color: #33d4d6;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
}



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/



/* Banner Styling Start From Here */
.banner{
  width: 100%;
  height: 120vh;
  background:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0.6)), url(https://via.placeholder.com/1360x1155) no-repeat center/cover;
  padding-bottom: 11%;
}
.banner .wrapper{
  padding-top: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner-text h2{
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 50px;
}
.banner-text a{
  margin-top: 45px;
  border-radius: 5px;
  background-color: #33d4d6;
  padding: 2% 5% 2%;
  text-transform: capitalize;
  color: #fff;
  transition: .5s;
}
.banner-text a:hover{
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
}
form{
  width: 32%;
  background-color: #fff;
  padding: 55px 50px 50px;
  border-radius: 5px;
}
form h3{
  font-size: 25px;
  font-weight: 600;
}
form h3::first-letter,
form p::first-letter{
  text-transform: capitalize;
}
form p{
  margin: 38px 0 40px;
  color: rgba(0,0,0,.5);
}
.banner form .input{
  display: flex;
  flex-direction: column;
}
.banner form .input>div{
  margin-bottom: 5%;
  padding: 5%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.1);
}
.banner form .input>div i{
  color: rgba(0,0,0,.4);
}
.banner form .input input[type="text"]{
  width: 80%;
  outline: 0;
  border: 0;
}
.button{
  text-align: center;
}
form button[type="button"]{
  border-radius: 5px;
  border: 0;
  outline: none;
  background-color: #33d4d6;
  padding:3% 45% 3%;
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  transition: .5s;
}
form button[type="button"]:hover{
  background-color: #000;
  box-shadow: 2px 2px 5px rgba(0,0,0,.8);
}
/* Banner Styling End From Here */

/* Offer Styling Start From Here */
.offer{
  padding: 175px 0 75px;
}
.offer .wrapper>h3, .offer .wrapper>p{
  text-align: center;
}
.offer .wrapper>h3{
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.offer .wrapper>h3::before{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #33d4d6;
  position: absolute;
  top: -40%;
  left: 47%;
}
.offer .wrapper>p{
  margin: 30px 0 100px;
  color: rgba(0,0,0,.5);
  text-transform: capitalize;
}
.loans{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer .loans ul{
  padding: 45px 60px 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#054783, #076ec8);
}
.loan ul:nth-child(1){
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.loan ul:nth-child(2){
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.loan ul:nth-child(2) li{
  padding-bottom: 20px;
  text-transform: capitalize;
  list-style: disc;
  display: list-item;
}
.loan ul:nth-child(2) li::marker{
  color: #33d4d6;
  font-size: 23px;
}
.loan ul:nth-child(2) li:last-child{
  padding-bottom: 0;
  text-align: center;
  list-style: none;
}
.loan ul:nth-child(2) li:last-child a{
  margin: 10px 0 20px;
  border-radius: 5px;
  padding: 5% 32% 5%;
  background-color: #33d4d6;
  color: #fff;
  transition: .5s;
}
.loan ul:nth-child(2) li:last-child a:hover{
  background-color: #fff;
  color: #0a8cff;
}
.loan ul:nth-child(1) li:nth-child(2) p{
  margin: 40px 0 20px;
  text-transform: capitalize;
}
.loan ul:nth-child(1) li:nth-child(3){
  color: #33d4d6;
  font-weight: 500;
  font-size: 32px;
}
.loan ul:nth-child(1) li img{
  width: auto;
}
/* Offer Styling End From Here */


/* about Styling Start From Here */
.about{
  padding: 75px 0 150px;
}
.about .wrapper>figure img{
  width: auto;
}
.about .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-text{
  margin-left: 9%;
}
.about .about-text h3{
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
}
.about .about-text>p{
  margin: 45px 0 25px;
  color: rgba(0,0,0,.5);
  line-height: 25px;
  text-transform: capitalize;
}
.about .about-text ul{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.about .about-text ul li{
  display: list-item;
  list-style-type: disc;
}
.about .about-text ul li:last-child{
  list-style-type: none;
}
.about .about-text ul li::marker{
  color:#076ec8;
  font-size: 25px;
}
.about .about-text ul li p{
  text-transform: capitalize;
}
.about .about-text ul li:last-child a{
  margin-top: 55px;
  background-color:#33d4d6;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4% 8% 4%;
  color: #fff;
  text-transform: capitalize;
  transition: .5s;
}
.about .about-text ul li:last-child a:hover{
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

/* about Styling End From Here */


/* Work Styling Start From Here */

.work{
  background-color: #f5fbff;
  padding: 165px 0 130px;
}
.work h3, .work .wrapper>p{
  text-align: center;
}
.work h3{

  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.work h3::before{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #33d4d6;
  position: absolute;
  top: -40%;
  left: 47%;
}
.work p{
  margin: 30px 0 100px;
  color: rgba(0,0,0,.5);
  text-transform: capitalize;
}
.work .wrapper ul{
  display: flex;
}
.work ul li div span{
  background-color: #ddf0ff;
  padding: 9%;
  color:#076ec8;
  font-weight: 600;
  border-radius: 50%;
}
.work ul li div h4::first-letter{
  text-transform: capitalize;
}
.work ul li div h4{
  margin: 50px 0 18px;
  color: rgba(0,0,0,0.8);
  font-size: 22px;
  font-weight: 600;
}
.work ul li div p{
  color: rgba(0,0,0,0.6);
  line-height: 25px;
}
.work ul li div p::first-letter{
  text-transform: capitalize;
}
.work .wrapper ul li:nth-child(2){
  margin: 0 8% 0;
}

/* Work Styling End From Here */

/* frequently Styling Start From Here */

.frequently .wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.frequently img{
  width: auto;
}
.frequently .frequently-text{
  margin-left: 7%;
}
.frequently-text h4::first-letter{
  text-transform: capitalize;
}
.frequently-text h4{
  margin-bottom: 45px;
  font-size: 40px;
}
.frequently ul{
  width: 78%;
  display: flex;
  flex-direction: column;
}
.frequently-text li{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.frequently-text li:nth-child(1){
  border-bottom: 0;
}
.frequently-text li p::first-letter{
  text-transform: capitalize;
}
.frequently-text li p{
  margin-left: 5%;
  padding: 22px 0 15px;
  font-size: 18px;
  font-weight: 600;
}
.frequently-text li:nth-child(2) p{
  color: rgba(0,0,0,.5);
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

/* frequently Styling End From Here */

/* User Styling Start From Here */
.user{
  padding-top: 145px;
}
.user .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.user .wrapper img{
  width: auto;
  border-radius: 50%;
}
.user .wrapper>div:nth-child(1){
  position: relative;
}
.user .wrapper>div:nth-child(1)::before{
  content: "\201C";
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 40px;
  height: 50px;
  background:#33d4d6;
  color: #fff;
  font-size: 75px;
  padding-left: 12px;
  border-radius: 50%;
}
.user .wrapper div:nth-child(2){
  margin: 0 5% 0;
}
.user .wrapper div:nth-child(2) h5{
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 30px;
}
.user .wrapper div:nth-child(2) p{
  color: rgba(0,0,0,.4);
  font-weight: 600;
  text-transform: capitalize;
}
.user .wrapper div:nth-child(3) div{
  width: 50px;
  height: 50px;
  background:#ddf0ff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.user .wrapper div:nth-child(3) div i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #33d4d6;
}
.user .wrapper div:nth-child(3) div:nth-child(1){
  margin-bottom: 10px;
}
/* User Styling End From Here */

/* Company Styling End From Here */

.company{
  padding: 170px 0 170px;
}
.company ul{
  display: flex;
  justify-content: space-between;
}
/* Company Styling End From Here */

/* Apply Styling End From Here */

.apply{
  background: url(https://via.placeholder.com/1366x385) no-repeat center/cover;
}
.apply .wrapper{
  padding: 145px 0 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apply h3{
  width: 68%;
  color: #fff;
  font-size: 40px;
}
.apply h3::first-letter{
  text-transform: capitalize;
}
.apply a{
  background-color: #33d4d6;
  border-radius: 5px;
  padding: 2% 3% 2%;
  color: #fff;
  text-transform: capitalize;
}
/* Apply Styling End From Here */






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer{
  padding: 140px 0 40px;
}
footer p, footer a{
  color: rgba(0,0,0,.4);
}
footer .wrapper>ul{
  display: flex;
  justify-content: space-between;
}
footer .wrapper ul div h4{
  margin-bottom: 55px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
footer .wrapper>ul li:nth-child(1) div img{
  width: auto;
}
footer .wrapper>ul li:nth-child(1) div a,.social{
  margin-top: 40px;
}
footer .wrapper>ul li:nth-child(1) .social li i{
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50%;
  color: rgba(0,0,0,.1);
  padding: 10px;
  transition: .5s;
  cursor: pointer;
}
footer .wrapper>ul li:nth-child(1) .social li i:hover{
  background: rgba(0,0,0,.3);
  color: #fff;
}
footer .wrapper>ul li:nth-child(2) div p,
footer .wrapper>ul li:nth-child(3) div a{
  margin-bottom: 30px;
  font-size: 13px;
  text-transform: capitalize;
}
footer .wrapper>ul li:nth-child(4){
  width: 30%;
}
footer .wrapper>ul li:nth-child(4) .form-input{
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,.5);
  padding: 1% 0% 1%;
  display: flex;
  justify-content: space-around;
}
footer .wrapper>ul li:nth-child(4) .form-input input[type="email"]{
  border: 0;
  outline: none;
}
footer .wrapper>ul li:nth-child(4) .form-input a{
  background:#0a8cff;
  border-radius: 5px;
  padding: 2%;
  color: #fff;
  text-transform: capitalize;
}
footer .wrapper>ul li:nth-child(4) div p{
  font-size: 13px;
  line-height: 20px;
}
footer .wrapper>ul>li{
  width: 20%;
}
footer .wrapper>ul li:nth-child(3) div{
  display: flex;
  flex-direction: column;
}
footer .wrapper>div{
  margin-top: 160px;
  text-align: center;
}
footer .wrapper>div p{
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
footer .wrapper>div span{
  color:#0a8cff;
  text-transform: capitalize;
}





 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1130px starts here*/
@media only screen and (max-width: 1130px) {

  header .wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .banner .wrapper {
    padding-top: 25%;
  }
  .loans{
    justify-content: center;
    flex-wrap: wrap;
  }

  .about .wrapper {
    align-items: center;
    flex-direction: column;
  }
  .about .about-text {
    margin-top: 6%;
  }
  .about .about-text ul li:last-child a {
    padding: 2% 6% 2%;
  }

  .frequently img {
    width: 100%;
  }
  .frequently-text li p {
    padding: 9px 0 9px;
    font-size: 14px;
  }
  .frequently-text li:nth-child(2) p {
    font-size: 13px;
    line-height: 16px;
  }
  .offer .loan{
    margin: 10px;
  }
  footer .wrapper>ul li:nth-child(4) .form-input {
    border: 0;
    align-items: flex-start;
    flex-direction: column;
  }
  footer .wrapper>ul li:nth-child(4) .form-input input[type="email"] {
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 2% 3% 2%;
  }
  footer .wrapper>ul>li {
    width: 40%;
  }
}  
/*media query for 1130px end here*/

/*media query for 786px end here*/
@media only screen and (max-width: 786px) {
  .banner {
    height: 100%;
  }
  .banner .wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .banner-text {
    margin-top: 35px;
    width: 100%;
  }
  .banner-text h2 {
    font-size: 30px;
  }
  form p {
    margin: 22px 0 22px;
  }
  .banner-text a {
    margin-top: 20px;
  }
  form {
    margin-top: 30px;
    width: auto
  }
  form button[type="button"] {
    padding: 3% 38% 3%;
  }
  .work .wrapper ul {
    flex-direction: column;
  }
  .work .wrapper ul li:nth-child(2) {
    margin:0;
  }
  .about .wrapper>figure img {
    width: 100%;
  }
  .frequently .wrapper {
    justify-content: center;
    flex-direction: column;
  }
  .frequently .frequently-text {
    margin-top: 2%;
  }
  .user .wrapper {
    flex-direction: column;
  }
  .user .wrapper div:nth-child(2) {
    margin: 0;
  }
  .user .wrapper div:nth-child(3){
    display: flex;
  }
  .user .wrapper div:nth-child(3) div:nth-child(1) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .company {
    padding: 40px 0 40px;
  }
  .company ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .company ul li{
    margin-bottom: 5%;
  }
  .company ul li:last-child{
    margin-bottom: 0;
  }
  .apply .wrapper {
    flex-direction: column;
  }
  .apply h3 {
    margin-bottom: 20px;
    width: 100%;
    font-size: 25px;
  }
  footer {
    padding: 40px 0 40px;
  }
  footer .wrapper>ul {
    flex-direction: column;
    align-items: center;
  }
  footer .wrapper>ul>li {
    width: 100%;
    text-align: center;
  }
  footer .wrapper>ul li:nth-child(4) {
    width: auto;
  }
  footer .wrapper>ul li:nth-child(4) .form-input {
    align-items: center;
  }
  .social {
    margin: 20px 0 20px;
  }
  footer .wrapper ul div h4 {
    margin-bottom: 30px;
  }
  footer .wrapper>div {
    margin-top: 80px;
  }

}
/*media query for 786px end here*/

/*media query for 500px end here*/

@media only screen and (max-width: 500px) {
  nav li {
    margin-left: 10px;
  }
  nav li a,
  header .wrapper>ul p,
  header .wrapper>ul li a {
    font-size: 8px;
  }
  .banner-text {
    margin-top: 50px;
  }
  form h3{
    font-size: 18px;
  }
}

/*media query for 500px end here*/